<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-two">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Anoncoin (trading symbol ANC) is a digital cryptocurrency that focuses on privacy and anonymity for its users.
                    Created in June 2013, it was the first coin that provided built in support for the
                    I2P darknet that makes it impossible to determine the IP address of the user. 
                </p>

            </div>
            <div class="col-lg-4">
                <p>
                    Anoncoin also has built in support of Tor, which can help conceal your location and keep your internet traffic private. 
                    Download our wallet and get started today.</p>

                </p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="/Download" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Download wallet
                </a>
            </div>
        </div>
    </div>
</section>