 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>ANONCOIN (ANC) IS A UNIQUE DECENTRALIZED PEER TO PEER INTERNET CRYPTOCURRENCY THAT PROVIDES PRIVACY FOR ITS USERS. I2P AND TOR COMPATIBLE, IT IS RESISTANT TO CRACKDOWNS FROM HOSTILE AUTHORITIES.
                        
                        TRANSACTIONS SENT THROUGH THE I2P OR TOR DARKNETS MAKE YOUR LOCATION UNTRACABLE. ZEROCOIN IS BEING DEVELOPED TO PROVIDE TRUE ANONYMITY WITH UNTRACABLE TRANSACTIONS IN THE BLOCK CHAIN.</p>
                </div>
                <div class="col-lg-4">
                    <p>ANONCOIN WAS RELEASED IN A TRANSPARENT MANNER WITH A FAIR MINING REWARD SCHEDULE. A PRE-MINE OF 4200 ANC WAS RETURNED TO THE COMMUNITY.
                        
                        WE OPPOSE ALL FORMS OF CENSORSHIP AND HAVE A LONG HISTORY IN LEADING INTERNET PRIVACY INITIATIVES. WHETHER YOU ARE A JOURNALIST, ACTIVIST, OR DISSIDENT, OR JUST SOMEONE WHO CARES ABOUT PRIVACY, ANONCOIN IS FOR YOU. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="/Download" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download wallet
                    </a>
                </div>
            </div>
        </div>
    </section>