<!-- About Section -->
<section class="success" id="about">
    <div class="container">
    <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Anoncoin 0.9.7.1 released October 23, 2018!</h2>
                <hr class="star-two">
            </div>
        </div>
            <div class="col-lg-12">
                    <p>
                            The Anoncoin team is proud to announce the official release of Anoncoin 0.9.7.1. 
                            You can <a href="https://github.com/Anoncoin/anoncoin/releases/tag/v0.9.7.1">find the release on Github here.</a>
                    </p>
                </div>


                <div class="col-lg-8 col-lg-offset-2 text-center">
                        <a href="/Download/" class="btn btn-lg btn-outline">
                            <i class="fa fa-download">&nbsp;</i>Download wallet
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/Exchanges/" class="btn btn-lg btn-outline">
                            <i class="fa fa-money">&nbsp;</i>Buy Anoncoins
                        </a>
                    </div>
            

        </div>
    </div>
</section>