---
layout: default
---

<div class="home">

    <div id="slogan">
        <h1>ANONCOIN<br>
        PRIVACY-CENTRIC CURRENCY</h1>
        </div>
        
        
        
        <div id="info">
        <p><span class="highlight">Anoncoin is a privacy-centric currency</span></p>
        <p><span class="highlight">Fully compatible with the I2P and TOR darknets</span></p>
        <p><span class="highlight">Anoncoin will be available no matter what the authorities do</span></p>
        </div>
        
        
        

  <h1 class="page-heading">Blog</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
